*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header{
    position: fixed;
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: white;
    z-index: 10;
}

main{
    padding-top: 80px;
}

ul li{
    list-style-type: none;
}

/* font  */

.font-h1{
    font-size: 70px;
}

.font-h2{
    font-size: 40px;
    font-weight: 900;
}
.font-h3{
    font-weight: 900;
    font-size: 25px;
}

.font-h4{
    font-weight: 900;
    font-size: 18px;
}

/* Utilities */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}


.a-black{
    color: black;
    text-decoration: none;
}

.a-white{
    color:white;
    text-decoration: none;
}

.button{
    color: white;
    background-color: #0061ff;
    padding: 10px 20px;
    text-decoration: none;
}

.button-white{
    padding: 5px 15px;
    background-color: white;
    border: 2px solid black;
}

/* larghezze */

.container-w80{
    width: 80%;
    margin:auto
}

.container-w70{
    width: 70%;
    margin: auto;
}

.container-w50{
    width: 50%;
}

.container-w90{
    width: 90%;
    margin:auto;
}

.container-w60{
    width: 60%;
}

.container-w40{
    width: 40%;
}

.container-w30{
    width: 30%;
}

.float-w32{
    width: 32%;
}

.float-margin-center{
    margin-right: 2%;
    margin-left: 2%;
}


/* lavoro sulle classi header-nav */
.nav-header-left ul li,
.nav-header-right ul li{
    display: inline-block;
}    

.nav-header-left ul li{
    margin-right: 50px;
}

.nav-header-right ul li{
    margin-left: 50px;
}

.nav-header-left{
    margin-left: 50px;
}

.nav-header-right {
    margin-right: 50px;
}

/* lavoro sull'immagine-header*/
.logo-header{
    margin-left: 50px;
    vertical-align: middle;
}

/* lavoro sulla Section First */

#section-first{
    background-color: #b4d0e7;
}

.title-h1{
    padding-top: 50px;
    padding-bottom: 50px;
}

.container-text{
    width: 40%;
}

.container-w60 img{
    width: 100%;
}

.container-text .p-text{
    padding-bottom: 40px;

}

.p-text{
    max-width: 70%;
}

.container-text p{
    padding-top: 10px;
    padding-bottom: 30px;
}

#section-first i{
    font-size: 40px;
}

/* Lavoro sulla Section Second */

.title-h2{
    padding-top: 100px;
    padding-bottom: 40px;
}

#radio-btn1, #radio-btn2{
    transform: scale(1.3);
}

label{
    padding-right: 15px;
}

/* Lavoro float  */

.float-general{
    width: 100%;
    margin-top: 40px;
}

.float-card{
    width: 32%;
    border: 1px solid grey;
    height: 1000px;
}

.icon{
    text-align: center;
    border-bottom: 1px solid grey;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-w80 p,
.container-w80 ul li{
    font-size: 15px;
    font-weight: 500;
}


.container-w80  .title-h3{
    margin-top: 20px;
}

.title-h3 + .euro{
    font-weight: 900;
    font-size: 18px;
}

.container-w80 .p-grey{
    color: grey;
    margin-bottom: 40px;
}

.border-span{
    border-bottom:1px solid grey;
    padding-bottom: 20px;
}

.container-w80 *{
    margin: 10px 0;
}

.float-general .container-w80 .try-now{
    margin-top: 50px;
    margin-bottom: 25px;
    width: 100%;
    color: white;
    background-color: #0061ff;
    padding: 5px 0;
    display: block;
    text-align: center;
    text-decoration: none;
}

.container-w80 .title-h4{
    margin-top: 70px;
    margin-bottom: 30px;
}

.container-w80 p  a{
    display: inline;
    color:#0061ff;
}

.container-w80 .fa-check{
    color: blue;
}

.margin{
    margin-top: 50px;
}

.border{
    border: 1px solid grey;
}

.container-w90 *{
    margin: 15px 0;
}

.container-w90 .btn-margin{
    margin-top: 35px;
    text-align: right;
}

/* Lavoro sulla Section Third */

#section-third{
    margin-top: 150px;
}

.container-w60 img{
    width: 100%;
}

#section-third .container-w30{
    margin-right: 5%;
}

#section-third .container-w30 *{
    margin-bottom: 20px;
}

#section-third .font-h3{
    margin-top: 40px;
}

#section-third .container-w30 p:nth-child(3){
    margin-top: 50px;
}

/* Lavoro sulla Section Fourth */

.container-img img{
    width: 100%;
}

#section-fourth{
    margin-top: 100px;
}

#section-fourth .container-w70 .font-h2{
    margin-bottom: 50px;
}

.container-w70 .float-w32 > *{
    margin-bottom: 20px;
}

/* Lavoro sulla Section Fifth  */

#section-fifth{
    margin-top: 150px;
}

#section-fifth .container-w70 .font-h2{
    max-width: 60%;
    margin-bottom: 30px;
}

#section-fifth p{
    margin-bottom: 40px;
}

#section-fifth a{
    color:blue;
}

.principal{
    height: 50vh;
}

.container-h50{
    height: 50%;
    position: relative;
}

.img-trasform{
    width: 50%;
    filter: invert(100%);
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50% , -50%);

}

.principal .container-w30,
.principal .container-w40{
    height: 100%;
}

.bg-color1{
    background-color: #a2d39b;
}
.bg-color2{
    background-color: #61082b;
}
.bg-color3{
    background-color: #0093ce;
}
.bg-color4{
    background-color: #ff1c1c;
}

.principal .container-w90 > img{
    width: 20%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container-w50 .container-w90 p:nth-child(2){
    margin-bottom: 50px;
}

.principal .container-w40{
    background-color: #f5f5f5;
}

.bg-color5{
    background-color: #d5001f;
}
.bg-color6{
    background-color: #b4d0e7;
}
.bg-color7{
    background-color: #0d2481;
}
.bg-color8{
    background-color: #ffd830;
}

/* Inizio Section Sixth */

#section-sixth{
    background-color: #b4d0e7;
}

#section-sixth .float-right{
    text-align: right;
    margin-top: 110px;
}

#section-sixth .float-left{
    margin-top: 100px;
    margin-bottom: 100px;
    color: #61082b;
}

.a-button-white{
    width: 100%;
    text-align: center;
    background-color: white;
    display: block;
    padding: 8px 0;
    font-weight: bold;
}

#section-sixth .font-h2{
    max-width: 70%;
}

/* Inizio Section Seventh */

#section-seventh .container-w70 .font-h3{
    margin-top: 100px;
    margin-bottom: 40px;
}

.p-none{
    display: none;
    padding-top: 30px;
    max-width: 70%;
}

.text-inline{
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid grey;
    position: relative;
    font-weight: bold;
}

.text-inline i{
    position: absolute;
    top: 40px;
    right: 40px;
}

.text-inline:hover .p-none{
    display: block;
    font-weight: lighter;
}

#section-seventh .container-w70 div:nth-child(5){
    border-bottom: 1px solid grey;
    margin-bottom: 100px;
}




   














